<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagename %}Default Page Title{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% block menu %}
            <li><a href="{% url 'glavnaya' %}" title="Перейти на главную страницу">Главная страница</a></li>
            <li><a href="{% url 'reg_page' %}" title="Зарегистрироваться">Регистрация</a></li>
            <li><a href="{% url 'tovar' %}" title="Перейти к товарам">Товары</a></li>
            <li><a href="{% url 'korzina' %}" title="Перейти к корзине">Корзина</a></li>
            {% endblock %}
        </ul>
    </nav>
    <div>
        {% block content %}
        ?
        {% endblock %}
    </div>
</body>
</html>
